body, table {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 10px;
}

img {
    max-width: 100%;
    display: inline-block;
}

ol, ul, li {
    margin: 0;
}

ul, ol {
    padding-left: 15px;
}

blockquote {
    margin: 0;
    padding-left: 15px;
    font-style: italic;
    border-left: 2px solid lightgray;
}

code {
    font-style: normal;
}

.page-break {
    page-break-after: always;
}